.form-field {
  @include flex-column-start;

  &__caption {
    margin-bottom: 7px;
    font-size: 14px;
    line-height: 150%; /* 21px */
    color: var(--color-gray);
  }
  &__input {
    border-radius: 4px;
    padding-left: 15px;
    border: 1px solid #D7DADD;
    background:#F4F5F6;
    width: 260px;
    height: 44px;
    font-size: 14px;
    line-height: 150%; /* 21px */
    &::placeholder {
      color: #9a9ca5;
    }
  }
  &--big {
    flex-grow: 1;

    .form-field__input {
      width: 100%;
    }
  }
}