.mission {
  background-color: var(--color-light);

  &__list {
    --mission-gap: 94px;
    margin-bottom: 27px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);
  }
  &__item {
    position: relative;
    padding-top: 71px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 48px 48px;
    text-align: center;

    &:not(:last-child) {
      &::after {
        content: "";
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url("/public/img/divider.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
    &--quality {
      background-image: url("/public/img/quality.svg");
    }
    &--safety {
      background-image: url("/public/img/safety.svg");
    }
    &--comfort {
      background-image: url("/public/img/comfort.svg");
    }
  }
  &__subtitle {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%; /* 30px */
    color: var(--color-ebony);
  }
  &__descr {
    line-height: 160%; /* 25.6px */
    color: var(--color-storm);
  }
}

.know-form {
  position: relative;
  top: 92px;
  border-radius: 4px;
  padding: 48px 60px;
  box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
  background-color: var(--color-light);

  &__title {
    text-align: center;
    margin-bottom: 33px;
    font-size: 28px;
    font-weight: 700;
    line-height: 150%; /* 42px */
    color: var(--color-ebony);
  }

  &__content {
    display: flex;
    align-items: flex-end;
  }

  &__field {
    margin-right: 24px;
  }

  &__btn {
    padding: 11px 29px;
  }
}