@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/UbuntuBold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/UbuntuRegular.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/LatoBold.woff2");
  font-display: swap;
}
@font-face {
  font-family: "Ubunty";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/LatoBlack.woff2");
  font-display: swap;
}
