<section class="form section" id="form" data-section="form">
  <div class="form__container">
    <h2 class="form__title title">Связаться с нами</h2>
    <div class="form__content">
      <div class="form__info">
        <a class="form__tel" href="tel:+79236466313">+7‒923‒646‒63‒13</a>
        <a class="form__mail" href="mailto:info@gorod.one">info@gorod.one</a>
        <span class="form__adress">Павловский тракт, 313Б</span>
        <a href="https://clck.ru/368jYf" target="_blank" class="form__map">Смотреть на карте</a>
      </div>
      <div class="form__feedback feedback">
        <form class="feedback--form" action="" >
          <h3 class="form__subtitle">Записаться на встречу</h3>
          <input class="feedback__name" type="text" placeholder="Имя">
          <input class="feedback__tel" type="tel" placeholder="Телефон">
          <div class="feedback__btn">
            <button type="submit" class="feedback__submit btn--stroke btn-reset">
              <img src="/public/img/svg/arrow.svg" alt="arrow">Отправить
            </button>
            <p class="feedback__info">
              Нажимая &laquo;отправить&raquo; вы&nbsp;даёте согласие на&nbsp;обработку своих персональных данных согласно политике конфиденциальности
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>