<section class="room section" id="room" data-section="room">
  <h2 class="room__title title">Свободные помещения</h2>
  <div class="room__container">
    
    <div class="room__swiper swiper">
      <div class="swiper-wrapper">
        <div class="room__card swiper-slide">
          <div class="room__image">
            <img src="/public/img/floor/floor-1.png" alt="">
            <span class="room__image-square">46 м²</span>
            <span class="room__image-number">№307</span>
          </div>
          <div class="room__descr">
            <span class="room__price">179 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </div>
        <div class="room__card swiper-slide">
          <div class="room__image">
            <img src="/public/img/floor/floor-2.png" alt="">
            <span class="room__image-square">105 м²</span>
            <span class="room__image-number">№308</span>
          </div>
          <div class="room__descr">
            <span class="room__price">80 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </div>
        <div class="room__card swiper-slide">
          <div class="room__image">
            <img src="/public/img/floor/floor-3.png" alt="">
            <span class="room__image-square">89 м²</span>
            <span class="room__image-number">№309</span>
          </div>
          <div class="room__descr">
            <span class="room__price">65 400 ₽/мес</span>
            <span class="room__value">2 этаж</span>
          </div>
        </div>
      </div>
    </div>
    <div class="swiper-button-next">
      <img src="/public/img/svg/right.svg" alt="">
    </div>
    <div class="swiper-button-prev">
      <img src="/public/img/svg/left.svg" alt="">
    </div>
  </div>
</section>